{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Site Comparison Tool</h1>
            <p>Compare groups of sites from the database</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="container">
                    <div class="col-md-5">
                        <h2>Find Site A by parameters</h2>
                        <form class="form-horizontal" action="/lookup/search" method="POST">
                                    {% if searchform.site_name.errors %}
                                        <ul class="errors">
                                            {% for error in searchform.site_name.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {{ searchform.csrf_token }}
                            <div class="form-group">
                                    {{ searchform.site_name(class="form-control", placeholder="Site name") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.site_number(class="form-control", placeholder="Site number") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.region(class="form-control", placeholder="Region") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.tower_type(class="form-control", placeholder="Tower type") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.date_of_inspection(class="form-control", placeholder="Inspection date") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.submit(value="Find", class="btn btn-primary") }}
                                </div>
                            </form>

                        </div>
                    <div class="col-md-5">
                        <h2>Find Site B by parameters</h2>
                        <form class="form-horizontal" action="/lookup/search" method="POST">
                                    {% if searchform.site_name.errors %}
                                        <ul class="errors">
                                            {% for error in searchform.site_name.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {{ searchform.csrf_token }}
                            <div class="form-group">
                                    {{ searchform.site_name(class="form-control", placeholder="Site name") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.site_number(class="form-control", placeholder="Site number") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.region(class="form-control", placeholder="Region") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.tower_type(class="form-control", placeholder="Tower type") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.date_of_inspection(class="form-control", placeholder="Inspection date") }}
                            </div>
                            <div class="form-group">
                                    {{ searchform.submit(value="Find", class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <h2>Sites</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Site Name</th>
                        <th>Site Number</th>
                        <th>Region</th>
                        <th>Type</th>
                        <th>Inspection Date</th>
                        <th>Show</th>
                    </tr>
                    {% for site in sites %}
                        <form class="form-inline" action="/lookup/showsite">
                            <tr>
                                <td>{{ site.site.site_group.site_name }}</td>
                                <td>{{ site.site.site_group.site_number }}</td>
                                <td>{{ site.site.site_group.region }}</td>
                                <td>{{ site.site.tower_type }}</td>
                                <td>{{ site.site.date_of_inspection }}</td>
                                <td><input type="submit" value="Update" class="form-control"></td>
                                <input type="text" name="siteid" value="{{ site._id }}" hidden>
                            </tr>
                        </form>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
{% endblock %}
