{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Site Lookup</h1>
            <p>Find sites from the database</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Find Site by parameters</h2>
                <form class="form-inline" action="/lookup/search" method="POST">
                    <div class="form-group">
                        {% if searchform.site_name.errors %}
                            <ul class="errors">
                                {% for error in searchform.site_name.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ searchform.csrf_token }}
                        {{ searchform.site_name(class="form-control", placeholder="Site name") }}
                        {{ searchform.site_number(class="form-control", placeholder="Site number") }}
                        {{ searchform.region(class="form-control", placeholder="Region") }}
                        {{ searchform.tower_type(class="form-control", placeholder="Tower type") }}
                        {{ searchform.date_of_inspection(class="form-control", placeholder="Inspection date") }}
                        {{ searchform.submit(value="Find", class="btn btn-primary") }}
                    </div>
                </form>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Simple</h2>
                            <p>Just select the parameters you want to search on. Leave the ones you don't care about
                                blank</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Secure</h2>
                            <p>Before you can do anything else, you need to login. Management and usage all directly
                                from this page.</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Safe</h2>
                            <p>If you have not received login details, you need to request these from your system
                                administrator</p>
                        </div>
                    </div>
                </div>


                <h2>Sites</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Site Name</th>
                        <th>Site Number</th>
                        <th>Region</th>
                        <th>Type</th>
                        <th>Inspection Date</th>
                        <th>Show</th>
                    </tr>
                    {% for site in sites %}
                        <form class="form-inline" action="/lookup/showsite">
                            <tr>
                                <td>{{ site.site.site_group.site_name }}</td>
                                <td>{{ site.site.site_group.site_number }}</td>
                                <td>{{ site.site.site_group.region }}</td>
                                <td>{{ site.site.tower_type }}</td>
                                <td>{{ site.site.date_of_inspection }}</td>
                                <td><input type="submit" value="Update" class="form-control"></td>
                                <input type="text" name="siteid" value="{{ site._id }}" hidden>
                            </tr>
                        </form>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
{% endblock %}
