{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript" src="http://www.lexiconista.com/xonomy/xonomy/xonomy.js"></script>
<link type="text/css" rel="stylesheet" href="../static/xonomy/xonomy.css"/>

<script type="text/javascript">
    function start() {
        var docSpec = {
            onchange: function () {
                console.log("I been changed now!")
            },
            validate: function (obj) {
                console.log("I be validatin' now!")
            },
            elements: {
                "start": {isReadOnly: true, mustBeAfter: ["n0:meta"], oneliner: true},
                "end": {isReadOnly: true, mustBeAfter: ["n0:meta"], oneliner: true},
                "today": {isReadOnly: true, mustBeAfter: ["n0:meta"], oneliner: true},
                "deviceid": {isInvisible: true, oneliner: true},
                "subscriberid": {isInvisible: true, oneliner: true},
                "imei": {isInvisible: true, oneliner: true},
                "phonenumber": {isInvisible: true, oneliner: true},

                "tower_type": {oneliner: true, asker: Xonomy.askString},
                "inspector_name": {oneliner: true, asker: Xonomy.askString},
                "date_of_inspection": {oneliner: true, asker: Xonomy.askString},
                "pic_outside": {oneliner: true, asker: Xonomy.askString},
                "first_time": {isInvisible: true, oneliner: true, asker: Xonomy.askString},

                // Sections and groups
                "photos_to_tower_sect": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "site_group": {
                    backgroundColour: "#52f656", collapsed: function (jsElement) {
                        return true;
                    }
                },
                "General_terrain": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "tower_group": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "containers": {
                    backgroundColour: "#f2f656", collapsed: function (jsElement) {
                        return true;
                    }
                },
                "container_repeat": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "Vodacom_container_group": {
                    backgroundColour: "#f2f656", collapsed: function (jsElement) {
                        return true;
                    }
                },
                "shaft_spine_section": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },

                "tower_base_section": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "cable_window_section_repeat": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "fall_arrest_section": {
                    backgroundColour: "#f2a6a6", collapsed: function (jsElement) {
                        return true;
                    }
                },
                "fall_arrest_repeat": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "platform_repeat": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "cable_gantry_group": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "cable_window_group": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "platform_group": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "loadings_group": {
                    backgroundColour: "#52a6f6", collapsed: function (jsElement) {
                        return true;
                    }
                },
                "loading_repeat": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "redundant_equipment_group": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "pole_mounts_group": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "tower_top": {
                    backgroundColour: "#a2f6a6", collapsed: function (jsElement) {
                        return true;
                    }
                },
                "aircraft_warning_light_group": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "aircraft_warning_light_repeat": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "photos_of_site_section": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "photos_from_tower_section": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "Additional_photos_repeat": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "R_S": {
                    backgroundColour: "#f264e6", collapsed: function (jsElement) {
                        return true;
                    }
                },
                "signature_group": {
                    backgroundColour: "#a4a6ff", collapsed: function (jsElement) {
                        return true;
                    }
                },
                "mono_tower_top": {
                    collapsed: function (jsElement) {
                        return true;
                    }
                },
                "n0:meta": {
                    isReadOnly: true, collapsed: function (jsElement) {
                        return true;
                    }
                },

                // site group parameters
                "site_name": {oneliner: true, hasText: true},
                "site_number": {oneliner: true, hasText: true},
                "region": {oneliner: true},
                "tower_owner": {oneliner: true, hasText: true},
                "infrastructure_contractor": {oneliner: true, hasText: true},
                "manufacturer": {oneliner: true, hasText: true},
                "manufacture_year": {oneliner: true, hasText: true},
                "job_number": {oneliner: true, hasText: true},
                "report_number": {oneliner: true, hasText: true},
                "mpi_report_number": {oneliner: true, hasText: true},
                "fall_arrest_report_number": {oneliner: true, hasText: true},
                "sign_board": {oneliner: true},
                "spine_height": {oneliner: true},
                "width_of_column": {oneliner: true},
                "breadth_of_column": {oneliner: true},
                "height_of_column": {oneliner: true},
                "grading": {oneliner: true, hasText: true},

                // the loadings_group parameters
                "loading_type": {oneliner: true},
                "loading_type_custom": {oneliner: true},
                "loading_make": {oneliner: true},
                "loading_make_custom": {oneliner: true},
                "loading_size": {oneliner: true},
                "loading_photo": {mustBeAfter: ["loading_height"], oneliner: true},
                "loading_height": {oneliner: true},
                "loading_owner": {mustBeBefore: ["loading_type"], oneliner: true},
                "loading_pole_mount": {oneliner: true},
                "loading_azimuth": {oneliner: true},
                "loading_leg_allocation": {oneliner: true},
                "loading_electrical_tilt": {oneliner: true},
                "Feeder_Cable_Tag_Outside": {mustBeAfter: ["loading_height"], oneliner: true},
                "antenna_sticker_photo": {mustBeAfter: ["loading_height"], oneliner: true},
                "number_of_feeders": {oneliner: true},
                "operationally_active": {oneliner: true},

                // platform parameters
                "platforms_number": {oneliner: true},
                "platform_repeat_count": {isInvisible: true, oneliner: true},

                // the container parameters
                "num_containers": {oneliner: true},
                "container_repeat_count": {isInvisible: true, oneliner: true},
                "container_owner": {oneliner: true},
                "container_size": {oneliner: true},
                "main_power_circuit_breaker_size": {oneliner: true},
                "power_supply_circuit_breaker_size": {oneliner: true},
                "container_type": {oneliner: true},
                "container_photo_closeup": {isInvisible: true, oneliner: true},
                "container_photo_front": {isInvisible: true, oneliner: true},
                "container_photo_feeder_cable_labels": {isInvisible: true, oneliner: true},
                "photo_circuit_breaker": {isInvisible: true, oneliner: true},

                // tower top parameters
                "tower_total_height": {oneliner: true},
                "number_of_aircraft_warning_light_clusters": {oneliner: true},
                "aircraft_warning_light_repeat_count": {isInvisible: true, oneliner: true},
                "aircraft_warrning_light_number": {oneliner: true},
                "aircraft_warrning_light_height": {oneliner: true},

                // miscellaneous
                "external_coating_colour": {oneliner: true},
                "monopole_tower_design": {oneliner: true},
                "contruction_type": {oneliner: true},
                "legs_number": {oneliner: true},
                "legs_spacing_base": {oneliner: true},
                "cable_gantry_outside": {oneliner: true},
                "fall_arrest_section_exists": {oneliner: true},
                "redundant_equipment_present": {oneliner: true},
                "shaft_stiffener_fitted": {oneliner: true},
                "shaft_spine_exists": {oneliner: true},
                "lattice_ladder_photo": {isInvisible: true, oneliner: true},
                "lattice_flange_configuration_photo": {isInvisible: true, oneliner: true},
                "date_of_next_inspection_recommended": {oneliner: true, hasText: true},
                "my_drawing": {oneliner: true},
                "my_signature": {oneliner: true},

                //
                // R_S section parameters
                //
                // S section
                //
                "s1-1": {collapsed: true},
                "s1-1_Tower_concrete_base": {oneliner: true, hasText: true},
                "Tower_concrete_base_remark": {hasText: true},
                "Tower_concrete_base_corrective_action": { hasText: true},
                "s1-1_Tower_concrete_base_remark": {hasText: true},
                "s1-1_Tower_concrete_base_corrective_action": { hasText: true},
                "s1-2": {collapsed: true},
                "s1-2_Grouting": {oneliner: true, hasText: true},
                "Grouting_remark": {hasText: true},
                "Grouting_corrective_action": { hasText: true},
                "s1-3": {collapsed: true},
                "s1-3_Tower_holding_down_bolt_configurations": {oneliner: true, hasText: true},
                "Tower_HDB_configurations_remark": {hasText: true},
                "Tower_HDB_configurations_corrective_action": { hasText: true},
                "s2-1": {collapsed: true},
                "s2-1_Base_plate_to_structure_welding": {oneliner: true, hasText: true},
                "Base_plate_to_struct_weld_remark": {hasText: true},
                "Base_plate_to_struct_weld_corrective_action": { hasText: true},
                "s2-1_Bottom_man_way": {oneliner: true, hasText: true},
                "Bottom_man_way_remark": {hasText: true},
                "Bottom_man_way_corrective_action": { hasText: true},
                "s2-2": {collapsed: true},
                "s2-2_Stub_section_with_gussets": {oneliner: true, hasText: true},
                "Stub_with_gussets_remark": {hasText: true},
                "Stub_with_gussets_corrective_action": { hasText: true},
                "s2-2_Sectional_slip_joint_areas": {oneliner: true, hasText: true},
                "Sectional_slip_joint_areas_remark": {hasText: true},
                "Sectional_slip_joint_areas_corrective_action": { hasText: true},
                "s2-3": {collapsed: true},
                "s2-3_Stub_section_without_gussets": {oneliner: true, hasText: true},
                "Stub_section_without_gussets_remark": {hasText: true},
                "Stub_section_without_gussets_corrective_action": { hasText: true},
                "s2-3_Longitudinal_welds": {oneliner: true, hasText: true},
                "Longitudinal_welds_remark": {hasText: true},
                "Longitudinal_welds_corrective_action": { hasText: true},
                "s2-4": {collapsed: true},
                "s2-4_Leg_section_flanges": {oneliner: true, hasText: true},
                "Leg_section_flanges_remark": {hasText: true},
                "Leg_section_flanges_corrective_action": { hasText: true},
                "s2-4_Circumferential_welds": {oneliner: true, hasText: true},
                "Circumferential_welds_remark": {hasText: true},
                "Circumferential_welds_corrective_action": { hasText: true},
                "s2-5": {collapsed: true},
                "s2-5_Leg_section_brace_connections": {oneliner: true, hasText: true},
                "Leg_section_brace_connections_remark": {hasText: true},
                "Leg_section_brace_connections_corrective_action": { hasText: true},
                "s2-5_Top_man_ways": {oneliner: true, hasText: true},
                "Top_man_way_remark": {hasText: true},
                "Top_man_way_corrective_action": { hasText: true},
                "s2-6": {collapsed: true},
                "s2-6_Lattice_bolting_connections": {oneliner: true, hasText: true},
                "Lattice_bolting_conn_remark": {hasText: true},
                "Lattice_bolting_conn_corrective_action": { hasText: true},
                "s2-7": {collapsed: true},
                "s2-7_Man_ways_trapdoors": {oneliner: true, hasText: true},
                "Man_ways_trapdoors_remark": {hasText: true},
                "Man_ways_trapdoors_corrective_action": { hasText: true},
                "s3-1": {collapsed: true},
                "s3-1_Base_flange_to_leg_welding": {oneliner: true, hasText: true},
                "Base_flange_to_leg_welding_remark": {hasText: true},
                "Base_flange_to_leg_welding_corrective_action": { hasText: true},
                "s3-1_Spine_flange_bolting_configuration": {oneliner: true, hasText: true},
                "Spine_flange_bolt_conf_remark": {hasText: true},
                "Spine_flange_bolt_conf_corrective_action": { hasText: true},
                "s3-2": {collapsed: true},
                "s3-2_Base_flange_to_gusset_welding": {oneliner: true, hasText: true},
                "s3-2_Ladder_bolting_connections": {oneliner: true, hasText: true},
                "Ladder_bolting_connections_remark": {hasText: true},
                "Ladder_bolting_connections_corrective_action": { hasText: true},
                "s3-3": {collapsed: true},
                "s3-3_gusset_to_leg_welding": {oneliner: true, hasText: true},
                "gusset_to_leg_welding_remark": {hasText: true},
                "gusset_to_leg_welding_corrective_action": { hasText: true},
                "s3-4": {collapsed: true},
                "s3-4_Base_bracket_or_clamp_welding_connections": {oneliner: true, hasText: true},
                "Base_bracket_weld_conn_remark": {hasText: true},
                "Base_bracket_weld_conn_corrective_action": { hasText: true},
                "s3-5": {collapsed: true},
                "s3-5_stub_section_bottom_flange_welding": {oneliner: true, hasText: true},
                "stub_bot_flange_welding_remark": {hasText: true},
                "stub_bot_flange_welding_corrective_action": { hasText: true},
                "s3-6": {collapsed: true},
                "s3-6_stub_section_top_flange_welding": {oneliner: true, hasText: true},
                "stub_top_flange_welding_remark": {hasText: true},
                "stub_top_flange_welding_corrective_action": { hasText: true},
                "s3-7": {collapsed: true},
                "s3-7_stub_section_gusset_to_bottom_flange_welding": {oneliner: true, hasText: true},
                "stub_gusset_bot_flange_weld_remark": {hasText: true},
                "stub_gusset_bot_flange_weld_corrective_action": { hasText: true},
                "s3-8": {collapsed: true},
                "s3-8_stub_section_gusset_to_top_flange_welding": {oneliner: true, hasText: true},
                "stub_gusset_top_flange_weld_remark": {hasText: true},
                "stub_gusset_top_flange_weld_corrective_action": { hasText: true},
                "s4-1": {collapsed: true},
                "s4-1_Base_flange_to_shaft_welding": {oneliner: true, hasText: true},
                "Base_flange_to_shaft_welding_remark": {hasText: true},
                "Base_flange_to_shaft_welding_corrective_action": { hasText: true},
                "s4-2": {collapsed: true},
                "s4-2_Base_flange_to_gusset_welding": {oneliner: true, hasText: true},
                "Base_flange_to_gusset_welding_remark": {hasText: true},
                "Base_flange_to_gusset_welding_corrective_action": { hasText: true},
                "s4-3": {collapsed: true},
                "s4-3_gusset_to_shaft_welding": {oneliner: true, hasText: true},
                "gusset_to_shaft_welding_remark": {hasText: true},
                "gusset_to_shaft_welding_corrective_action": { hasText: true},
                "s4-4": {collapsed: true},
                "s4-4_Base_bracket_weld_conn": {oneliner: true, hasText: true},
                "s4-5": {collapsed: true},
                "s4-5_stub_section_bottom_flange_welding": {oneliner: true, hasText: true},
                "s4-6": {collapsed: true},
                "s4-6_stub_section_top_flange_welding": {oneliner: true, hasText: true},
                "s4-7": {collapsed: true},
                "s4-7_stub_section_gusset_to_bottom_flange_welding": {oneliner: true, hasText: true},
                "s4-8": {collapsed: true},
                "s4-8_stub_section_gusset_to_top_flange_welding": {oneliner: true, hasText: true},
                "stub_gussetp_flange_weld_remark": {hasText: true},
                "stub_gussetp_flange_weld_corrective_action": { hasText: true},
                "s4-9": {collapsed: true},
                "s4-9_spine_flange_to_spine_welding": {oneliner: true, hasText: true},
                "spine_flange_spine_weld_remark": {hasText: true},
                "spine_flange_spine_weld_corrective_action": { hasText: true},
                "s4-10": {collapsed: true},
                "s4-10_gusset_to_spine_flange_welding": {oneliner: true, hasText: true},
                "gusset_spine_flange_weld_remark": {hasText: true},
                "gusset_spine_flange_weld_corrective_action": { hasText: true},
                "s4-11": {collapsed: true},
                "s4-11_gusset_to_spine_welding": {oneliner: true, hasText: true},
                "gusset_to_spine_weld_remark": {hasText: true},
                "gusset_to_spine_weld_corrective_action": { hasText: true},

                //
                // H section
                //
                "h1-1": {collapsed: true},
                "h1-1_cat_latter": {oneliner: true, hasText: true},
                "cat_latter_remark": {hasText: true},
                "cat_latter_corrective_action": { hasText: true},
                "h1-1_ladder": {oneliner: true, hasText: true},
                "ladder_remark": {hasText: true},
                "ladder_corrective_action": { hasText: true},
                "h1-1_ladder_remark": {hasText: true},
                "h1-1_ladder_corrective_action": { hasText: true},
                "h1-2": {collapsed: true},
                "h1-2_ladder_support_attachment_welds": {oneliner: true, hasText: true},
                "ladder_sup_attach_welds_remark": {hasText: true},
                "ladder_sup_attach_welds_corrective_action": { hasText: true},
                "h2-1": {collapsed: true},
                "h2-1_platform_attached_brackets": {oneliner: true, hasText: true},
                "platform_brackets_remark": {hasText: true},
                "platform_brackets_corrective_action": { hasText: true},
                "plat_attach_brackets_remark": {hasText: true},
                "plat_attach_brackets_corrective_action": { hasText: true},
                "h2-2": {collapsed: true},
                "h2-2_bolting_connections": {oneliner: true, hasText: true},
                "plat_bolt_conn_remark": {hasText: true},
                "plat_bolt_conn_corrective_action": { hasText: true},
                "h2-2_platform_grating": {oneliner: true, hasText: true},
                "h2-3": {collapsed: true},
                "h2-3_platform_grating": {oneliner: true, hasText: true},
                "platform_grating_remark": {hasText: true},
                "platform_grating_corrective_action": { hasText: true},
                "h2-3_toe_boards": {oneliner: true, hasText: true},
                "h2-4": {collapsed: true},
                "h2-4_toe_boards": {oneliner: true, hasText: true},
                "toe_boards_remark": {hasText: true},
                "toe_boards_corrective_action": { hasText: true},
                "h2-4_knee_rails": {oneliner: true, hasText: true},
                "h2-5": {collapsed: true},
                "h2-5_knee_rails": {oneliner: true, hasText: true},
                "knee_rails_remark": {hasText: true},
                "knee_rails_corrective_action": { hasText: true},
                "h2-5_hand_rails": {oneliner: true, hasText: true},
                "h2-6": {collapsed: true},
                "h2-6_hand_rails": {oneliner: true, hasText: true},
                "hand_rails_remark": {hasText: true},
                "hand_rails_corrective_action": { hasText: true},
                "h2-6_platform_uprights": {oneliner: true, hasText: true},
                "h2-7": {collapsed: true},
                "h2-7_platform_uprights": {oneliner: true, hasText: true},
                "platform_uprights_remark": {hasText: true},
                "platform_uprights_corrective_action": { hasText: true},
                "h3-1": {collapsed: true},
                "h3-1_cable_channel": {oneliner: true, hasText: true},
                "FA_cable_channel_remark": {hasText: true},
                "FA_cable_channel_corrective_action": { hasText: true},
                "h3-2": {collapsed: true},
                "h3-2_bolting_connections": {oneliner: true, hasText: true},
                "FA_bolt_conn_remark": {hasText: true},
                "FA_bolt_conn_corrective_action": { hasText: true},
                "h3-3": {collapsed: true},
                "h3-3_ladder_integrity": {oneliner: true, hasText: true},
                "FA_ladder_integrity_remark": {hasText: true},
                "FA_ladder_integrity_corrective_action": { hasText: true},
                "h3-4": {collapsed: true},
                "h3-4_ladder_bracket_integrity": {oneliner: true, hasText: true},
                "FA_ladder_bracket_integrity_remark": {hasText: true},
                "FA_ladder_bracket_integrity_corrective_action": { hasText: true},
                "h3-5": {collapsed: true},
                "h3-5_fall_arrest_cable_tension": {oneliner: true, hasText: true},
                "FA_cable_tension_remark": {hasText: true},
                "FA_cable_tension_corrective_action": { hasText: true},
                "h3-6": {collapsed: true},
                "h3-6_fall": { collapsed: true},
                "h3-6_fall_arrest_top_anchor_shock_absorber": {oneliner: true, hasText: true},
                "FA_top_anchor_shock_abs_remark": {hasText: true},
                "FA_top_anchor_shock_abs_corrective_action": { hasText: true},
                "h3-7": {collapsed: true},
                "h3-7_fall_arrest_top_anchor_ubolts_torque": {oneliner: true, hasText: true},
                "FA_top_anchor_torque_remark": {hasText: true},
                "FA_top_anchor_torque_corrective_action": { hasText: true},
                "h3-8": {collapsed: true},
                "h3-8_fall_arrest_bottom_anchor_ubolts_torque": {oneliner: true, hasText: true},
                "FA_bot_anchor_torque_remark": {hasText: true},
                "FA_bot_anchor_torque_corrective_action": { hasText: true},
                "h3-9": {collapsed: true},
                "h3-9_fall_arrest_wire_guide_ubolts_torque": {oneliner: true, hasText: true},
                "FA_wire_guide_torque_remark": {hasText: true},
                "FA_wire_guide_torque_corrective_action": { hasText: true},
                "h3-10": {collapsed: true},
                "h3-10_fall_arrest_top_anchor_slippage": {oneliner: true, hasText: true},
                "FA_top_anchor_slippage_remark": {hasText: true},
                "FA_top_anchor_slippage_corrective_action": { hasText: true},
                "h3-11": {collapsed: true},
                "h3-11_fall_arrest_bottom_anchor_slippage": {oneliner: true, hasText: true},
                "FA_bot_anchor_slippage_remark": {hasText: true},
                "FA_bot_anchor_slippage_corrective_action": { hasText: true},
                "h3-12": {collapsed: true},
                "h3-12_fall_arrest_red_warning_board_present": {oneliner: true, hasText: true},
                "FA_red_warning_present_remark": {hasText: true},
                "FA_red_warning_present_corrective_action": { hasText: true},
                "h3-13": {collapsed: true},
                "h3-13_fall_arrest_red_warning_board_legible": {oneliner: true, hasText: true},
                "FA_red_warning_legible_remark": {hasText: true},
                "FA_red_warning_legible_corrective_action": { hasText: true},
                "h3-14": {collapsed: true},
                "h3-14_fall_arrest_aluminium_warning_board_present": {oneliner: true, hasText: true},
                "FA_warning_present_remark": {hasText: true},
                "FA_warning_present_corrective_action": { hasText: true},
                "h3-15": {collapsed: true},
                "h3-15_fall_arrest_aluminium_warning_board_legible": {oneliner: true, hasText: true},
                "FA_warning_legible_remark": {hasText: true},
                "FA_warning_legible_corrective_action": { hasText: true},
                "h3-16": {collapsed: true},
                "h3-16_fall_arrest_secure_bolts_to_structure": {oneliner: true, hasText: true},
                "FA_secure_bolts_to_structure_remark": {hasText: true},
                "FA_secure_bolts_to_structure_corrective_action": { hasText: true},
                "h3-17": {collapsed: true},
                "h3-17_fall_arrest_wire_guides_position": {oneliner: true, hasText: true},
                "FA_wire_guides_position_remark": {hasText: true},
                "FA_wire_guides_position_corrective_action": { hasText: true},
                "h4-1": {collapsed: true},
                "h4-1_lattice_ladder": {oneliner: true, hasText: true},
                "lattice_ladder_remark": {hasText: true},
                "lattice_ladder_corrective_action": { hasText: true},
                "h4-1_spine_ladder": {oneliner: true, hasText: true},
                "spine_ladder_remark": {hasText: true},
                "spine_ladder_corrective_action": { hasText: true},

                //
                // M section
                //
                "m1-1": {collapsed: true},
                "m1-1_lattice_coating": {oneliner: true, hasText: true},
                "lattice_coating_remark": {hasText: true},
                "lattice_coating_corrective_action": { hasText: true},
                "m1-1_tower_external_surface": {oneliner: true, hasText: true},
                "tower_external_surface_remark": {hasText: true},
                "tower_external_surface_corrective_action": { hasText: true},
                "m1-2": {collapsed: true},
                "m1-2_cable_connections": {oneliner: true, hasText: true},
                "cable_connections_remark": {hasText: true},
                "cable_connections_corrective_action": { hasText: true},
                "m1-2_tower_internal_surface_galvanizing": {oneliner: true, hasText: true},
                "tower_internal_surface_galv_remark": {hasText: true},
                "tower_internal_surface_galv_corrective_action": { hasText: true},
                "m1-3": {collapsed: true},
                "m1-3_tower_internal_lights": {oneliner: true, hasText: true},
                "tower_internal_lights_remark": {hasText: true},
                "tower_internal_lights_corrective_action": { hasText: true},
                "m1-4": {collapsed: true},
                "m1-4_cable_entries": {oneliner: true, hasText: true},
                "cable_entries_remark": {hasText: true},
                "cable_entries_corrective_action": { hasText: true},
                "m1-5": {collapsed: true},
                "m1-5_cable_connections": {oneliner: true, hasText: true},
                "cable_conn_remark": {hasText: true},
                "cable_conn_corrective_action": { hasText: true},
                "m2-1": {collapsed: true},
                "m2-1_spine_equipment_bolting_connections": {oneliner: true, hasText: true},
                "spine_equip_bolt_connections_remark": {hasText: true},
                "spine_equip_bolt_connections_corrective_action": { hasText: true},
                "m2-1_dishes": {oneliner: true, hasText: true},
                "m3-1_dishes": {oneliner: true, hasText: true},
                "dishes_remark": {hasText: true},
                "dishes_corrective_action": { hasText: true},
                "m2-2": {collapsed: true},
                "m2-2_panels": {oneliner: true, hasText: true},
                "m3-2_panels": {oneliner: true, hasText: true},
                "panels_remark": {hasText: true},
                "panels_corrective_action": { hasText: true},
                "m2-3": {collapsed: true},
                "m2-3_omnis": {oneliner: true, hasText: true},
                "m3-3_omnis": {oneliner: true, hasText: true},
                "omnis_remark": {hasText: true},
                "omnis_corrective_action": { hasText: true},
                "m2-4": {collapsed: true},
                "m2-4_other_equipment": {oneliner: true, hasText: true},
                "m3-4_other_equipment": {oneliner: true, hasText: true},
                "other_equipment_remark": {hasText: true},
                "other_equipment_corrective_action": { hasText: true},
                "m3-1": {collapsed: true},
                "m3-1_aircraft_warning_light_general_condition": {oneliner: true, hasText: true},
                "m4-1_aircraft_warning_light_general_condition": {oneliner: true, hasText: true},
                "AWL_general_condition_remark": {hasText: true},
                "AWL_general_condition_corrective_action": { hasText: true},
                "m3-2": {collapsed: true},
                "m3-2_aircraft_warning_light_bolting_connections": {oneliner: true, hasText: true},
                "m4-2_aircraft_warning_light_bolting_connections": {oneliner: true, hasText: true},
                "AWL_bolting_connections_remark": {hasText: true},
                "AWL_bolting_connections_corrective_action": { hasText: true},
                "m3-3": {collapsed: true},
                "m3-4": {collapsed: true},
                "m4-1": {collapsed: true},
                "m4-1_containers_general_condition": {oneliner: true, hasText: true},
                "m5-1_containers_general_condition": {oneliner: true, hasText: true},
                "containers_general_condition_remark": {hasText: true},
                "containers_general_condition_corrective_action": { hasText: true},
                "m4-2": {collapsed: true},
                "m4-2_containers_aircons": {oneliner: true, hasText: true},
                "m5-2_containers_aircons": {oneliner: true, hasText: true},
                "containers_aircons_remark": {hasText: true},
                "containers_aircons_corrective_action": { hasText: true},
                "m5-1": {collapsed: true},
                "m5-1_fence_general_condition": {oneliner: true, hasText: true},
                "m6-1_fence_general_condition": {oneliner: true, hasText: true},
                "fence_general_condition_remark": {hasText: true},
                "fence_general_condition_corrective_action": { hasText: true},
                "m5-2": {collapsed: true},
                "m6-1": {collapsed: true},
                "m6-1_other_findings": {oneliner: true, hasText: true},
                "m7-1": {collapsed: true},
                "m7-1_other_findings": {oneliner: true, hasText: true},
                "other_findings_remark": {hasText: true},
                "other_findings_corrective_action": { hasText: true},

                //
                // L section
                //
                "l1-1": {collapsed: true},
                "l1-1_Leg_section_flanges": {oneliner: true, hasText: true},
                "l1-2": {collapsed: true},
                "l1-2_Leg_section_brace_connections": {oneliner: true, hasText: true},
                "l1-2_Leg_brace_connections_remark": {hasText: true},
                "l1-2_Leg_brace_connections_corrective_action": { hasText: true},
                "l1-3": {collapsed: true},
                "l1-3_Lattic_bolting_connections": {oneliner: true, hasText: true},
                "Lattic_bolting_conn_remark": {hasText: true},
                "Lattic_bolting_conn_corrective_action": { hasText: true},
                "l2-1": {collapsed: true},
                "l2-1_lattice_coating": {oneliner: true, hasText: true},
                "l2-2": {collapsed: true},
                "l2-2_cable_connections": {oneliner: true, hasText: true},

            }
        };

        {% autoescape off %}
        var xml = "{{ file_content }}";
        {% endautoescape %}
        var editor = document.getElementById("editor");
        Xonomy.setMode("laic");
        Xonomy.render(xml, editor, docSpec);
    }

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function submit() {
        var xml = Xonomy.harvest();
        var the_file = '{{ file }}';
        var the_site = '{{ siteid }}';
        // document.body.appendChild(document.createTextNode(xml));        // just so that we can see what has happened...
        // the line above must be replaced with something that sends the edited XML back to the saver
        $.post("/edit/save", {"updatedXML": xml, "raw_file": the_file, "siteid": the_site})
    }

</script>


{% endblock %}

{% block bodytag %}

    <body onload="start()">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Edit site</h1>
            <p>Edit fields for a single site</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>XML editor for site chosen</h2>

                <div id="editor"></div>
                <button class="btn btn-primary btn-lg" onclick="submit()">Save Changes!</button>

                <p></p>

            </div>
        </div>
    </div>

{% endblock %}


