{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Output sites</h1>
            <p>Produce output file of sites from the database</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default col-md-8">
                    <div class="panel-heading">
                        <h2 class="panel-title">Find Site by parameters</h2>
                    </div>

                    <div class="panel-body">
                        {% from "_formhelpers.html" import render_field %}
                        <form role="form" class="form-horizontal" action="/output/search" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    {{ searchform.csrf_token }}

                                    <div class="col-md-10">
                                        {{ render_field(searchform.site_name, with_label=true, class_="form-control") }}
                                        {{ render_field(searchform.site_number, with_label=true, class_="form-control") }}
                                        {{ render_field(searchform.region, with_label=true, class_="form-control") }}
                                        {{ render_field(searchform.tower_type, with_label=true, class_="form-control") }}
                                        {{ render_field(searchform.date_of_inspection, with_label=true, class_="form-control") }}
                                        <div class="form-group">
                                            {{ searchform.submit(value="Generate output", class="btn btn-primary") }}
                                        </div>
                                    </div>


                                    {#
                                {% if searchform.errors %}
                                    <ul class="errors">
                                        {% for error in searchform.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <p>
                                    {{ searchform.csrf_token }}
                                    {{ searchform.site_name(class="form-control", placeholder="Site name") }}
                                    {{ searchform.site_number(class="form-control", placeholder="Site number") }}
                                    {{ searchform.region(class="form-control", placeholder="Region") }}

                                    {{ searchform.tower_type(class="form-control", placeholder="Tower type") }}
                                </p>
#}

                                    {#                                <p>
                                    Only include inspections for this specific date
                                    : {{ searchform.date_of_inspection(class="form_control", placeholder="Inspection Date") }}
                                </p>
#}

                                    {#
                                <p>OR select one or both of the selectors below. *** FUTURE FEATURE ALERT - Selectors
                                    below are not working yet ***</p>
                                <p>
                                    Only include inspections before this date
                                    : {{ searchform.date_of_inspection_before(class="datepicker", placeholder="Inspection before date") }}
                                </p>
                                <p>
                                    Only include inspections after this date
                                    : {{ searchform.date_of_inspection_after(class="datepicker", placeholder="Inspection after date") }}
                                </p>
#}
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
