{% extends "base.html" %}
{% block metarefresh %} <meta http-equiv="refresh" content="10" > {% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Show site</h1>
        <p>View a single site</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Site detail for site chosen</h2>
            <table class="table table-striped">
               {% for site in sites %}
             <tr>
                <th>Site Name</th>
                <th>Site Number</th>
                <th>Region</th>
                <th>Type</th>
                  <th>Date</th>
              </tr>
                  <tr>
                    <td>{{site.site.site_group.site_name}}</td>
                    <td>{{site.site.site_group.site_number}}</td>
                    <td>{{site.site.site_group.region}}</td>
                    <td>{{site.site.tower_type}}</td>
                    <td>{{site.site.date_of_inspection}}</td>
                  </tr>

            </table>

                <form class="form-inline" action="/lookup/update">
                  <tr>
                    <td>{{site.site.manual.site_classification}}</td>
                    <td>{{site.site.manual.site_release_date}}</td>
                    <td>{{site.site.manual.as_built_available}}</td>
                    <td>{{site.site.manual.fault_description}}</td>
                    <td>{{site.site.manual.mast_engineer}}</td>
                    <td>{{site.site.manual.mast_upgraded}}</td>
                    <td>{{site.site.manual.mast_upgrade_date}}</td>
                    <td>{{site.site.manual.capacity_top}}</td>
                    <td>{{site.site.manual.capacity_10_from_top}}</td>
                    <td> <input type="submit" value="Update" class="form-control"></td>
                    <input type="text" name="siteid" value="{{site._id}}" hidden>
                  </tr>
                </form>

            {% endfor %}




        </div>
      </div>
    </div>
{% endblock %}
