{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Update site</h1>
        <p>Update manual fields for a single site</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Detail for site chosen</h2>
            <table class="table table-striped">
             <tr>
                <th>Site Name</th>
                <th>Site Number</th>
                <th>Region</th>
                <th>Type</th>
                 <th>Date</th>
              </tr>
                  <tr>
                    <td>{{site.site.site_group.site_name}}</td>
                    <td>{{site.site.site_group.site_number}}</td>
                    <td>{{site.site.site_group.region}}</td>
                    <td>{{site.site.tower_type}}</td>
                    <td>{{site.site.date_of_inspection}}</td>
                  </tr>
            </table>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <h2>Manually update fields below</h2>

            <form class="form-inline" action="/update/save" method="POST">
            <div class="form-group">
              {% if updateform.site_classification.errors %}
                <ul class="errors">
                  {% for error in updateform.site_classification.errors %}
                    <li>{{error}}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              {{ updateform.csrf_token}}

            <table class="table table-striped">

            <tr>
              <td>Site Classification</td>
                <td>{{ updateform.site_classification( class="form-control", placeholder="Site classification")}}</td>
              <td>Site Release Date </td>
                  <td>{{ updateform.site_release_date(class="form-control", placeholder="Release date YYYY-MM-DD")}}</td>
                </tr>
              <tr>
                  <td>Fault description </td>
                  <td>{{ updateform.fault_description(class="form-control", placeholder="Fault description")}}</td></tr>
              </tr>
                <tr>
                  <td>Mast Engineer</td>
                  <td>{{ updateform.mast_engineer(class="form-control", placeholder="Mast engineer")}}</td>
                    <td>As built available?</td>
                <td>{{ updateform.as_built_available(class="form-control", placeholder="As built available")}}</td></tr>
              <tr>
              <tr>
                  <td>Mast upgraded?</td>
                  <td>{{ updateform.mast_upgraded(class="form-control", placeholder="Mast upgraded")}}</td>
                  <td>Mast upgraded date</td>
                  <td>{{ updateform.mast_upgraded_date(class="form-control", placeholder="Date upgraded YYYY-MM-DD")}}</td>
              </tr>
              <tr>
                  <td>Capacity top</td>
                  <td>{{ updateform.capacity_top(class="form-control", placeholder="Capacity at top")}}</td>
                  <td>Capacity 10m from top</td>
                  <td>{{ updateform.capacity_10_from_top(class="form-control", placeholder="Capacity 10 from top")}}</td>
              </tr>
              <tr>
              </tr>
                <tr>
                    <td><input type="text" name="siteid" value="{{site._id}}" hidden></td>
                    <td>{{ updateform.submit(value="Submit", class="btn btn-primary") }}</td>
                </tr>

            </table>

            </div>
          </form>

        </div>
      </div>
    </div>
{% endblock %}
